[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
psycopg2 = "*"
sqlalchemy = "*"
email-validator = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
pydantic = {extras = ["dotenv"], version = "*"}
alembic = "*"
gunicorn = "*"
httptools = "*"

[dev-packages]

[requires]
python_version = "3.10"
